:root {
  --white: #ffffff;
  --gray-100: #edf2f7;
  --gray-300: #cbd5e0;
  --gray-400: #a0aec0;
  --gray-600: #4a5568;
  --gray-700: #2d3748;
  --gray-800: #1a202c;
  --gray-900: #171923;

  --brand-300: #89bad2;
  --brand-500: #4793b8;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--brand-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

@media (max-width: 768px) {
  :root {
    font-size: 87.5%;
  }
}
